*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

header{
    display: flex;
    justify-content: space-between;
    padding: flex;
    margin-bottom: 16px;
    background-color: white;
}

ul{
    display: flex;
    height: 100%;
    align-items: center;
    background-color: blanchedalmond;
}

nav ul li{
    padding: 16px;
}

main{
    margin: 10px;
    padding: 10px;
}

h1{
    
}

div{
    background-color: antiquewhite;
    padding-bottom: 20px;
    padding-top: 20px;
}

img{
    height: auto;
}
